@model AppWeb2.Models.VideoJuego
<h2>Eliminar Videojuego</h2>
<h4>¿Estas seguro que deseas eliminar esto?</h4>
<div>
    <strong> @Model.Titulo</strong>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>