@model Notas;
@{
    ViewData["Title"] = "Contactos";
    Layout = "EjemploPlantilla";
}
<h1>@ViewData["Title"]</h1>

@* <form asp-controller="Home" asp-action="Calcular" method="post">
    <input type="number" asp-for="n1" placeholder="Numero 1" /> <br />  <br />
    <input type="number" asp-for="n2" placeholder="Numero 2" /> <br />  <br />
    <input type="number" asp-for="n3" placeholder="Numero 3" /> <br />  <br />

    <br /> <br />
    <input type="submit" value="Calcular" />

</form>
<h1>@Model.promedio</h1> *@
