
<div class="row text-center mb-5">
    <div class="col-md-3 mb-3">
        <a asp-controller="Categoria" asp-action="Index" class="text-decoration-none">
            <div class="feature-card">
                <i class="fas fa-gamepad"></i>
                <h5>Categorías</h5>
                <p>Explora por tipo de juego</p>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb-3">
        <div class="feature-card">
            <i class="fas fa-fire"></i>
            <h5>Más Vendidos</h5>
            <p>Los juegos más populares</p>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <a asp-controller="VideoJuegos" asp-action="Nuevo" class="text-decoration-none">
            <div class="feature-card">
                <i class="fas fa-star"></i>
                <h5>Nuevos Juegos</h5>
                <p>Lo último en la tienda</p>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb-3">
        <a asp-controller="VideoJuegos" asp-action="Promocion" class="text-decoration-none">
            <div class="feature-card">
                <i class="fas fa-tags"></i>
                <h5>Promociones</h5>
                <p>Ofertas especiales</p>
            </div>
        </a>
    </div>
</div>